body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* background: linear-gradient(#000,#1b514e); */
}
.noborder{
    border: none;
    outline: none;
    /* color: transparent; */
}
.n1{
    color: rgb(20, 18, 18);
}
.parent{
    height: 100%;
    width: 50%;
 /* background-color: bisque;  */
}